@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/7YGmE4Ls5b94ct65u07hVQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/0XxGQsSc1g4rdRdjJKZrNL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

/* Start styling the page */
* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden
}

::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.7
}

:-moz-placeholder {
    color: #fff;
    opacity: 0.7
}

::-moz-placeholder {
    color: #fff;
    opacity: 0.7
}

:-ms-input-placeholder {
    color: #fff;
    opacity: 0.7
}

::selection {
    background-color: #4b549e;
    color: #fff;
}

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    color: #4b549e;
    font-size: 16pt
}

a {
    color: #93adc1;
    text-decoration: none;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear
}

a:hover {
    color: #4b549e;
    text-decoration: none;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear
}

.jumbotron p, p {
    font-size: 0.9em;
    line-height: 1.8em;
    margin: 20px 0
}

a img {
    border: 0
}

h1, h2, h3, h4, h5, h6, h2 a {
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear
}

h2 a {
    color: #2087d6;
    padding: 0.01em 0.3em;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear
}

h2 a:hover {
    color: #439add;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear
}

p.tagline {
    font-size: 1em;
    color: #fff;
    margin-bottom: 2em;
    line-height: normal;
    text-transform: uppercase;
}

h1 > i {
    margin-right: 20px
}

.btn {
    border: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
    line-height: normal;
    color: #111111;
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: 0.2s background linear;
    -moz-transition: 0.2s background linear;
    transition: 0.2s background linear;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-appearance: none;
    background: #f6ca14;
}

.register, .sponsor-btn, .resume {
    width: 15%;
    min-width: 120px;
    max-width: 200px;
}

.btn:hover {
    background: #111111;
    color: #f6ca14;
}

/***********************************/
/* Style the page as a whole */
.page-wrapper {
    position: relative;
    left: 0;
    -webkit-transition: all 0.4s ease-in 0s;
    -moz-transition: all 0.4s ease-in 0s;
    -ms-transition: all 0.4s ease-in 0s;
    -o-transition: all 0.4s ease-in 0s;
    transition: all 0.4s ease-in 0s;
}

/* Style each jumbotron */

.jumbotron {
    background: transparent;
    text-align: center;
    height: 100%;
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: 1em;
}

.jumbotron h1 {
    font-weight: 700;
    margin-bottom: 1em;
}

/* Style the first jumbotron */
.jumbotron#top {
    margin: 0;
}

.top {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    float: none;
    padding-left: 1em;
    padding-right: 1em;
}

.bg {
    content: "";
    z-index: -3;
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("/dist/images/uw.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-overlay {
    content: "";
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(57, 39, 91, 0.75);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo {
    width: 30%;
    min-width: 200px;
    max-width: 400px;
    margin-bottom: 1em;
}

/* Styling all other jumbotrons */

.details, .schedule, .judges, .mentors, .faq, .sponsor, {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    float: none;
}

.jumb-padding {
    padding: 2em 1em;    
}

.schedule, .mentors, .faq, .footer {
    background: #4b549e;
    color: #f6ca14;
}

.sponsor a:hover {
    color: #fff;
}

.sponsor img {
    display: block;
    padding: 20px;
    margin: 0 auto;
}

.sponsor-logo.plat {
    width: 45em;
}

.sponsor-logo.gold {
    width: 35em;
}

.sponsor-logo.silver {
    width: 25em;
}

.sponsor-logo.mini {
    width: 15em;
}

.arrow {
    position: absolute;
    bottom: 10px;
    opacity: 0.6;
    text-align: center;
}

.arrow a i {
    color: #fff
}

.row {
    margin: 0 auto 30px auto;
    padding: 0 auto;
}

.social {
    padding: 0;
}
.social li {
    margin-right: 10px
}
.social a {
    opacity: 0.6;
    position: relative;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear
}
.social a:hover {
    opacity: 1
}

.footer {
    text-align: center;
    padding: 4em 1em;
    font-weight: 400
}

/* iphone landscape and portrait */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    body {
        font-size: 13pt;
    }

    .tagline {
        font-size: 1em;
    }
    .arrow {
        font-size: 0.5em;
    }
}
