doctype html

// @author: Karan Goel
// @email: karan@goel.im

html(lang="en")
    head
        title dubHacks

        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(name="keywords", content="")
        meta(name="description", content="")
        
        meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no")

        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css")
        link(rel="stylesheet", href="dist/css/custom.min.css")
        //- link(rel="stylesheet", href="/css/custom.css")

    body
        div.page-wrapper
            div.jumbotron#top
                div.bg
                div.arrow.col-xs-4.col-xs-offset-4
                    a(href="#minibio")
                        i.fa.fa-angle-down.fa-5x
                div.top
                    h1.top-title dubHacks
                    p.tagline
                        | Build Something Amazing.
                    p.tagline
                        | October 17-18, 2014
                    p.tagline
                        | University of Washington, Seattle

            div.footer
                p dubHacks presented by:
                p Sudo Soldiers and Startup UW

    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    //- script(src="/js/custom.js")
    script(src="dist/js/custom.min.js")
