doctype html

html(lang="en")
  head
    title DubHacks - Fall 2014

    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    meta(name="keywords", content="UW, University of Washington, Hackathon, Competition")
    meta(name="description", content="The largest University of Washington Hackathon. Ever.")
    
    meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no")

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css")
    link(rel="stylesheet", href="dist/css/custom.min.css")
    
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src="dist/js/custom.min.js")

  body
    div.page-wrapper
      div.jumbotron#top
        div.bg
          div.bg-overlay
        div.arrow.col-xs-4.col-xs-offset-4
          a(href="#details")
            i.fa.fa-angle-down.fa-5x
        div.top
          img.logo(src="dist/images/logo.png")
          p.tagline
            | October 17-18 - University of Washington, Seattle
          a(href="")
            button(type="button", class="btn register") Register
          a(href="")
            button(type="button", class="btn resume") Get Hired
          p
          a(href="#sponsor")
            button(type="button", class="btn sponsor") Sponsor

      div.jumbotron#details
        div.details
          h1 Details
          ul.list-inline.col-md-6.col-md-offset-3.social
            li
              a.btn-social.btn-twitter(href="http://twitter.com/dubHacks", role="button", target="_blank")
                i.fa.fa-twitter.fa-2x
            li
              a.btn-social.btn-blog(href="http://facebook.com/dubHacks", role="button", target="_blank")
                i.fa.fa-facebook.fa-2x

          div.col-md-6.col-md-offset-3
            h2 DubHacks is the largest hackathon of the Northwest
            h3 For students by students
            br
            p The event will host the top college hackers in the northwest, gathered to build the next generation of innovative software and hardware products. Join us!

      div.jumbotron#faq
        div.faq
          h1 FAQ
          div.row
            div.col-md-4
              strong Who can attend?
              p All students from any university can attend. Apply with your
                strong  .edu
                |  email address and you are ready to go. If you do not fit in this category, feel free to contact us.
            div.col-md-4
              strong When is DubHacks?
              p The hackathon will be held in Fall 2014. The gates will open on Friday, October 17th at 5:00pm and continue onto the following day until 8:00 p.m. when the prizes will be given out. For those who wish to arrive earlier in the week, there will be workshops as a build up to the final hackathon.
            div.col-md-4
              strong What should I bring?
              p All your hack gear. Passion, keyboard, mouse, laptop and other necessary hardware (don't forget your chargers!). Along with that you are free to bring toiletries, sleeping bags and a change of clothes. You should bring any valid form of identification and your ticket for security purposes.
          div.row
            div.col-md-4
              strong How much does this event cost?
              p Absolutely free. Make sure to bring your friends!
            div.col-md-4
              strong How big are teams?
              p A team can be as big as 5 people or could consist of a couple of people. It is not necessary that you form your teams before the hackathon. In fact it would be better if you network around and make your final team at that time.
            div.col-md-4
              strong How do I get there?
              p This really depends on where you live. If you live in or close to one of these locations, then let us know in the application and we will let you know if we can help you our with the travel. The hackathon will be held here:
                a(href="https://www.google.com/maps/place/Husky+Union+Building+HUB")  The Husky Union Building (HUB)
          div.row
            div.col-md-4
              strong What should I build?
              p Anything really. The project is up to you and your team. You have 24 hours to make something, anything from the web, desktop apps, mobile apps or even traditional software.
            div.col-md-4
              strong Are we allowed to build on past projects?
              p A hackathon is an experience to build on something completely new within a set amount of time. With that in mind, you cannot work on past projects. Using your own API's or Third Party API's is alright as long as the project is a fresh start.
            div.col-md-4
              strong I have a different question. Who can I ask?
              p You can send an email across to contact@dubhacks.co, and we will get back to you as soon as we can.

      div.jumbotron#sponsor
        div.sponsor
          h1 Sponsor
          h3 The companies that make this possible
          p If you're interested in sponsoring DubHacks, then take a look at our
            a(href="/sponsor.pdf")  sponsorship document
            | .

      div.footer
        p DubHacks presented by
        a(href="http://students.washington.edu/uwsudo/") Sudo Soldiers
        |  and
        a(href="http://startupuw.com/")  Startup UW
